.modal {
    width: 450px;
    height: 350px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 8px -2px rgba(0,0,0,0.25);
}

.modal_wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.close {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #2b579a;
}

.check {
    display: flex;
    gap: 25px;
}

.option {
    width: 180px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 500;
}

.sign {
    background-color: green;
    color: #fff;
}

.reject {
    background-color: red;
    color: #fff;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.up {
    display: flex;
    align-items: center;
    gap: 10px
}

.error_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.error {
    display: flex;
    align-items: center;
    gap: 10px;
}

.error_not_mine {
    display: flex;
    align-items: center;
    gap: 10px;
}

.text_area {
    width: 380px;
    height: 200px;
    color: #2b579a;
    border: 1px solid #2b579a;
}

.text_area:focus-visible {
    outline: none;
}

.error input {
    border: 1px solid #2b579a;
}