.container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.add {
    color: #2b579a;
    text-decoration: underline;
    cursor: pointer;
    transition: 0.5s;
}

.add:hover {
    letter-spacing: 2px;
}