.card {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dfdfdf;
  color: #2b579a;
  border-bottom: 1px solid #b1b1b1;
}

.last {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #2b579a;
}

.card:hover {
  background-color: #f3f4f6;
}

.wrapper {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow_icon {
  width: 16px;
  height: auto;
}

.wrapper a{
  color: #2b579a;
  transition: 0.5s;
  display: flex;
  justify-content: flex-end;
}

.wrapper a:hover {
  letter-spacing: 3px;
}

.info {
  width: 90%;
  height: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.signed {
  width: 24px;
  height: auto;
}

.code {
  font-size: 20px;
}

.company_name {
  font-size: 14px;
}

.card_wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
}