.container {
  width: 400px;
  height: 42px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #2b579a;
  color: #2b579a;
  gap: 15px;
  cursor: pointer;
}

.input {
  height: 40px;
  border: none;
  font-size: 16px;
  transition:0.3s;
}

.input::placeholder {
  font-size: 16px;
}

.input:focus-visible {
  outline: none;
}

.input:hover {
  letter-spacing: 3px;
}