.container {
  width: 400px;
  height: 42px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  border: 1px solid #063970;
  color: #063970;
  gap: 15px;
  transition:all 0.5s ease;
  background-color: #fff;
}

.container:hover {
  letter-spacing: 3px;
}

.input {
  height: 40px;
  border: none;
  font-size: 16px;
  color: #063970;
}

.input:focus-visible {
  outline: none;
}