.container {
    width: 95%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.20); */
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #2b579a
}

.user_icon :nth-child(1) {
    width: 15px;
    height: 15px;
}

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #2b579a;
    font-size: 20px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 50px;
}