.container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
    color: #2b579a;
    font-size: 20px;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #2b579a
}

.user_icon :nth-child(1) {
    width: 15px;
    height: 15px;
}