.date {
  display: flex;
  gap: 15px;
}

.reset {
  width: 50px;
  height: 40px;
  border: none;
  background-color: #fff;
  color: #2b579a;
  font-size: 20px;
  border-bottom: 1px solid #2b579a;
  cursor: pointer;
}